div.plus {
  background-color: #dfd !important;
}
div.minus {
  background-color: #fdd !important;
}
ul.sections > li > div.content {
  margin: 0 25px 0 35px;
  padding: 0;
}
ul.sections > li > div.annotation {
  padding: 0 25px 0 50px;
}
