.plus {
  background: #dfd;
}
.minus {
  background: #fdd;
}
li {
  /*display: table-row;*/
  min-width: 100%;
  white-space: nowrap;
}
ul {
  overflow-x: scroll;
  list-style: none;
  font-size: 0.8em;
  font-family: Monaco,Courier,monospace;
}
